
nav {
  /* position: absolute; */
  /* top: 15px; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* display: inline-block; */
  /*border: 2px solid #EBECF1;
  border-radius: 30px;*/
  display: flex;
  margin: 0 auto;
  animation: slide-in 1s ease-out;
  max-width: 1200px;
  
}

ul.mainmenu {
  /* position: relative; */
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  /* margin: 0; */
  padding: 0 10px;
  list-style-type: none;
  z-index: 10;
  margin-block-start: 0;
  margin-block-end: 0;
}

ul.mainmenu li:not(:last-child) {
  margin-right: 30px;
}

ul.mainmenu li {
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 15px 10px; /* !!! */
  transition: background 0.2s;
}
ul.mainmenu li a {
  color: #fff; 
  text-decoration: none;
  transition: color 0.2s;
  font-size: 16px; 
  font-weight: 300;
}
ul.mainmenu li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  display: block;
  margin: 12px -12px;
  padding: 15px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 10px;
  /* background: #FFA91B; */
  /* border: 2px solid #F7C833; */
  /* border-right: 2px solid #F89329;
  border-bottom: 2px solid #F89329;
  border-radius: 5px;  */
  /* border: 2px solid #ddd; */
  transition: opacity 0.2s, visibility 0.2s;
}
/* ul.mainmenu li:last-child ul {
    margin-left: -60px;
} 
ul.mainmenu li:nth-last-child(2) ul {
    margin-left: -60px;
}
ul.mainmenu li:nth-last-child(3) ul {
    margin-left: -200px;
}*/

ul.mainmenu li ul li {
  margin: -2px 0 0 -2px;
  margin: 0;
  padding: 2px 0px; 
  width: calc(100% - 20px);
  list-style-type: none;
  font-size: 15px;
  /* line-height: 1.7; */
}
ul.mainmenu li ul li a {
  /* color: #2375D8; */
  color: #222;
}
ul.mainmenu li:hover {
  /* background: #EC4138;
  border: 2px solid #F05749;
  border-right: 2px solid #E02A21;
  border-bottom: 2px solid #E02A21; */
  color: #000;
}
ul.mainmenu li:hover a {
  /* color: #F9F8FD; */
  color: #666;
}
ul.mainmenu li:hover ul {
  visibility: visible;
  opacity: 1; 
  /* box-shadow: 0px 3px 5px 2px #EBECF1; */
}
ul.mainmenu li:hover ul li a {
  /* color: #F9F8FD; */
  color: #222;
}

ul.columns-2 {
   columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

ul.columns-3 {
   columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

ul.columns-4 {
   columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
}


@keyframes slide-in {
  0% {
    top: -50px;
  }
  40% {
    top: 20px;
  }
  70% {
    top: 10px;
  }
  100% {
    top: 15px;
  }
}