.errorLabel {
  color: red;
  font-size: 12px;
}


.color_select_item {
  display: none;
}

li > .color_select_item {
  display: inline;
}

/* .mainContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  font-size: 64px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.resultContainer, .historyItem { 
  flex-direction: row;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.historyContainer {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 260px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputBox {
  height: 48px;
  width: 360px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
} */

div.product-img-holder {
  width:310px;
  height:300px;    
  overflow:hidden;
  padding: 20px;
}

div.product-img-holder-thumb {
  width:125px;
  height:125px;    
  overflow:hidden;
  padding: 10px;
}
div.product-img-holder-item {
  height:210px;    
  overflow:hidden;
  padding: 10px;
}


image.product-img {
  min-width:100%;
}

.product-img {
  width: 190px;
  height: 150px;
  float: left;
}

.product-item {
  font-size: 14px;
  width: 200px;
  height: 26px;
  margin-left: 20px;
  text-align: left;
}

.product-item.price {
  font-family: "YS Text", Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: 600; 
  margin-left: 10px;
  width: 60px;
}

.product-item.price > span {
  padding: 4px;
}

.product-img img {
  height: 100%;
  width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: left;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.action-button {
  background-color: #000 !important;
  border-radius: 0 !important;
  color: #fff !important;
}

.clear-button {
  background-color: #fff !important;
  border-radius: 0 !important;
  color: #000 !important;
  border: 1px solid #000;
}

@media (min-width: 1200px) {
  .header-container {
      max-width: 100% !important;
      padding: 0 !important;
  }
  .header-menu {
    max-width: 1200px;
    padding: 0 !important;
}
.filter {
  max-width: 1000px;
  padding: 0 !important;
  margin: 30px auto;

}

}
