@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', 'Arial', 'system-ui';
  font-size: 24px;
  background-color: #fafafa;
  font-weight: 100;
}

* {
  box-sizing: border-box;
}

main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #333;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

input[type="button"] {
    border: none;
    background: cornflowerblue;
    color: white;
    padding: 12px 24px;
    margin: 8px;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
}

.material-symbols-outlined:hover {
  background-color: #333;
  color: #fff;
}

.material-symbols-outlined {
  background-color: #ddd;
  color: #333;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 18
}
